.cart-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
  text-align: end;
}
.cart-options__total-cost {
  color: #111110;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media (max-width: 767px) {
  .cart-options__total-cost {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .cart-options__button {
    font-size: 24px;
  }
}

.cart-items__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.cart-item {
  border-radius: 8px;
  background: #F4F4F3;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 108px 20px 25px;
  position: relative;
}
@media (max-width: 1439px) {
  .cart-item {
    padding: 20px 50px 20px 25px;
  }
}
@media (max-width: 767px) {
  .cart-item {
    flex-direction: column;
    padding: 10px 15px;
    gap: 15px;
  }
}
@media (max-width: 424px) {
  .cart-item {
    padding: 20px 25px;
  }
}
.cart-item__content {
  display: flex;
  gap: 50px;
  align-items: center;
}
@media (max-width: 424px) {
  .cart-item__content {
    flex-direction: column;
  }
}
.cart-item__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 8px;
  border-bottom: 1px solid rgba(220, 220, 214, 0.2);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1023px) {
  .cart-item__image {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 424px) {
  .cart-item__image {
    width: 250px;
    height: 250px;
  }
}
.cart-item__info {
  display: flex;
  flex-direction: column;
}
.cart-item__title {
  color: #282827;
  font-family: Antic Didone;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1023px) {
  .cart-item__title {
    font-size: 36px;
  }
}
@media (max-width: 424px) {
  .cart-item__title {
    font-size: 28px;
  }
}
.cart-item__price {
  color: #282827;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 155%; /* 55.8px */
}
@media (max-width: 767px) {
  .cart-item__price {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .cart-item__func {
    align-self: flex-end;
  }
}
.cart-item__close {
  position: absolute;
  top: 20px;
  right: 30px;
}
@media (max-width: 767px) {
  .cart-item__close {
    top: 10px;
    right: 15px;
  }
}