.header {
  padding: 50px 0;
  background-color: rgba(220, 220, 214, 0.2);
  border-bottom: 1px solid #dcdcd6;
}
@media (max-width: 767px) {
  .header {
    padding: 40px 0;
  }
}
.header__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.header__heading {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  width: 70px;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}