@import '../reset/reset.css';
@import '../fonts/fonts.css';
.container {
  max-width: 90rem;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}
@media (max-width: 71.25em) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 61.25em) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 46em) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

body {
  background-image: url("../../img/bg.jpg");
  color: #fafafa;
  font-family: "raleway-c", sans-serif;
  overflow-x: hidden;
}

.wrapper-content,
.header__hero,
.gallery__left,
.gallery__right,
.header__title {
  will-change: transform;
}

.header {
  height: min(100vh, 1080px);
}
@media (max-width: 27em) {
  .header {
    height: 50rem;
    overflow: hidden;
  }
}
.header__container {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.header__title {
  font-family: "Outfit";
  position: relative;
  z-index: 1;
  font-size: 12rem;
  line-height: 0.9;
  margin-bottom: 14vh;
}
@media (max-width: 90em) {
  .header__title {
    font-size: 10rem;
  }
}
@media (max-width: 64em) {
  .header__title {
    font-size: 7rem;
  }
}
@media (max-width: 48em) {
  .header__title {
    font-size: 5rem;
    margin-bottom: 5vh;
  }
}
.header__hero {
  z-index: -1;
  position: absolute;
  width: 55%;
  right: 0;
  top: 0;
}
@media (max-width: 64em) {
  .header__hero {
    width: 70%;
  }
}
@media (max-width: 48em) {
  .header__hero {
    width: 100%;
  }
}
@media (max-width: 27em) {
  .header__hero {
    min-width: 150vw;
    right: -40vw;
  }
}

.gallery__container {
  display: flex;
  padding-top: 10rem;
}
.gallery__container > * {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  gap: 18rem;
}
@media (max-width: 71.25em) {
  .gallery__container > * {
    gap: 10rem;
  }
}
@media (max-width: 27em) {
  .gallery__container > * {
    gap: 4rem;
  }
}
@media (max-width: 27em) {
  .gallery__container {
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    gap: 4rem;
  }
}
.gallery__item {
  max-width: 85%;
  max-height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 8px;
}
.text-block {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.text-block__h {
  font-size: 3rem;
}
@media (max-width: 48em) {
  .text-block__h {
    font-size: 2rem;
  }
}
.text-block__p {
  line-height: 155%;
  text-align: justify;
}