.about-us {
    overflow: hidden;
    background-color: #ADA580;
    position: relative;
    &__background-spruce-1 {
        max-width: none;
        position: absolute;
        z-index: 0;
        top: -10px;
        left: calc(50% - (647px / 0.72));
        width: 40.45219rem;
    }

    &__background-spruce-2 {
        max-width: none;
        position: absolute;
        z-index: 0;
        top: -10px;
        right: calc(50% - (647px / 0.72));
        transform: rotate(-180deg);
        width: 40.45219rem;
    }

    &__text {
        color: #33321E;
        text-align: justify;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 150%; /* 2.25rem */
        @media (max-width: 61.25em) {
            font-size: 1.25rem;
            max-width: 90%;
        }
    }

    &__container {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding-top: 85px;
        padding-bottom: 90px;
        @media (max-width: 61.25em) {
            padding-top: 75px;
            padding-bottom: 85px;
        }
    }

    &__title {
        margin-bottom: 1.09375em;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 65px;
        align-self: center;
        max-width: 66.375rem;
    }

    &__items {
        display: flex;
        align-items: center;
        gap: 19px;
    }

    &__image {
        img {
            width: 21rem;
            object-fit: cover;
        }
    }
}