.header {
  position: relative;
  overflow: hidden;
  background-color: #33321e;
  &__background-line-1 {
    max-width: none;
    position: absolute;
    top: -130px;
    left: calc(50% - 1170px / 1.25);
  }

  &__background-line-2 {
    max-width: none;
    position: absolute;
    bottom: 90px;
    right: calc(50% - 1353px / 1.9);
  }

  &__container {
    padding-top: 30px;
    padding-bottom: 155px;
  }

  &__upper-header {
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 2.70969rem;
  }

  &__menu-switcher {
  }

  &__navigation {
    @media (max-width: 71.25em) {
      transition: all 0.4s ease-in-out;
      position: fixed;
      z-index: 100;
      background: #33321E;
      box-shadow: -7px 0px 32px rgba(0, 0, 0, 0.10);
      top: 0;
      left: -100%;
      bottom: -300px;
      width: 20rem;
      .navigation__list {
        margin: 1.87rem 0 0 1.80rem;
        flex-direction: column;
        .navigation__item {
          font-size: 1.75rem;
        }
      }
    }

    &_opened {
      left: 0;
    }
  }

  &__phone {
    @media (max-width: 71.25em) {
      display: none !important;
    }
  }

  &__body {
    position: relative;
    margin-top: 105px;
  }

  &__content {
    width: 33.5rem;
    @media (max-width: 61.25em) {
      width: 28rem;
    }
  }

  &__subtitle {
    color: #ada580;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media (max-width: 61.25em) {
      font-size: 1.25rem;
    }
  }

  &__title {
    color: #dcd4ae;
    font-size: 6rem;
    font-weight: 500;
    line-height: normal;
    margin-top: -0.07291em;
    @media (max-width: 71.25em) {
      font-size: 5rem;
    }
  }

  &__text {
    margin-top: 1.9444444em;
    color: #dcd4ae;
    text-align: justify;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 150%; /* 1.6875rem */
    @media (max-width: 61.25em) {
      font-size: 1rem;
    }
  }

  &__button {
    margin-top: 2.32142em;
    display: inline-block;
    padding: 0.785714em 1.285714em;
    border-radius: 5px;
    border: 3px solid #ada580;
    background: #42380e;
    color: #ada580;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 150%; /* 2.625rem */
  }

  &__image {
    position: absolute;
    bottom: -205px;
    right: calc(50% - (843px / 0.95));
    filter: drop-shadow(28px 18px 101px #222114);
    img {
      width: 58.5rem;
    }
    @media (max-width: 61.25em) {
      width: 55rem;
    }
  }
}
