.header {
  position: relative;
  overflow: hidden;
  background-color: #33321e;
  &__background-line-1 {
    z-index: 0;
    max-width: none;
    position: absolute;
    top: -130px;
    left: calc(50% - 1170px / 1.25);
  }

  &__background-line-2 {
    z-index: 0;
    max-width: none;
    position: absolute;
    bottom: 90px;
    right: calc(50% - 1353px / 1.9);
  }

  &__container {
    position: relative;
    z-index: 1;
    z-index: 1;
    padding-top: 30px;
    padding-bottom: 155px;
  }

  &__upper-header {
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 2.70969rem;
  }

  &__menu-switcher {
  }

  &__navigation {
    @media (max-width: 71.25em) {
      transition: all 0.4s ease-in-out;
      position: fixed;
      z-index: 100;
      background: #33321e;
      box-shadow: -7px 0px 32px rgba(0, 0, 0, 0.1);
      top: 0;
      left: -100%;
      bottom: -300px;
      width: 20rem;
      .navigation__list {
        margin: 1.87rem 0 0 1.8rem;
        flex-direction: column;
        .navigation__item {
          font-size: 1.75rem;
        }
      }
    }

    &_opened {
      left: 0;
    }
  }

  &__phone {
    @media (max-width: 71.25em) {
      display: none !important;
    }
  }

  &__body {
    position: relative;
    display: flex;

    margin-top: 105px;
    @media (max-width: 35em) {
      justify-content: center;
      margin-top: 70px;
    }
  }

  &__content {
    width: 33.5rem;
    @media (max-width: 61.25em) {
      width: 28rem;
    }
    @media (max-width: 46em) {
      width: 70%;
    }
    @media (max-width: 46em) {
      font-size: 1.5rem;
    }
    @media (max-width: 35em) {
      width: 90%;
    }
  }

  &__subtitle {
    color: #ada580;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media (max-width: 61.25em) {
      font-size: 1.25rem;
    }
    @media (max-width: 46em) {
      font-size: 1.115rem;
    }
    @media (max-width: 35em) {
      font-size: 1rem;
    }
  }

  &__title {
    color: #dcd4ae;
    font-size: 6rem;
    font-weight: 500;
    line-height: normal;
    margin-top: -0.07291em;
    @media (max-width: 71.25em) {
      font-size: 5rem;
    }
    @media (max-width: 46em) {
      font-size: 4rem;
    }
    @media (max-width: 35em) {
      font-size: 3rem;
    }
  }

  &__text {
    margin-top: 1.9444444em;
    color: #dcd4ae;
    text-align: justify;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 150%; /* 1.6875rem */
    @media (max-width: 61.25em) {
      font-size: 1rem;
    }
  }

  &__button {
    margin-top: 2.32142em;
    transition: all 0.2s ease-in;
    display: inline-block;
    padding: 0.785714em 1.285714em;
    border-radius: 5px;
    border: 3px solid #ada580;
    background: #42380e;
    color: #ada580;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 150%; /* 2.625rem */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    &:active {
      background: #2b2409;
      color: #b9b089;
    }
    @media (hover: hover) {
      &:hover {
          background: #382f0c;
          color: #b9b089;
      }
  }
    @media (max-width: 46em) {
      font-size: 1.5rem;
    }
    @media (max-width: 35em) {
      margin-bottom: 18rem;
    }
  }

  &__image {
    position: absolute;
    bottom: -205px;
    right: calc(50% - (843px / 0.95));
    filter: drop-shadow(28px 18px 101px #222114);
    background-color: rgba(0, 0, 0, 0);
    img {
      width: 936px;
    }
    @media (max-width: 61.25em) {
      width: 880px;
    }
    @media (max-width: 35em) {
      width: 640px;
      right: calc(50% - (640px / 1.7));
    }
  }
}
