.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 25px;
  border-radius: 10px;
  background-color: #42380e7a;
  font-size: 20px;
  gap: 1em;
  backdrop-filter: blur(2px);
  cursor: pointer;
  box-shadow: 13px 10px 30px #b7b08f;
  &:hover{
    //animation: hoveringCard 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #42380eb0;
    transform: scale(1.2);
    backdrop-filter: blur(5px);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  }
  @keyframes hoveringCard {
    0% {
      background-color: #42380e7a;
      transform: scale(1);
      backdrop-filter: blur(2px);

    }
    50% {
      background-color: #42380e7a;
      transform: scale(1.2);
    }
    100% {
      backdrop-filter: blur(5px);
      background-color: #42380e87;
      transform: scale(1.2);

    }
  }
  &__image {
    border-radius: 12px;
    overflow: hidden;
    img {
      object-fit: cover;
      object-position: center center;
      width: 17.6875rem;
    }
  }

  &__info {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 0.75em;
  }

  &__title {
    flex: 1 0 auto;
    color: #dcd4ae;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
    @media (max-width: 35em) {
      font-size: 1.5rem;
  }
  }

  &__text {
    overflow: hidden;
    height: 5.6em;
    color: #dcd4ae;
    text-align: justify;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 150%; /* 1.40625rem */
  }

  &__button {
    padding: 0.8333em 1.875em;
    border-radius: 5px;
    border: 3px solid #dcd4ae;
    color: #ada580;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    &:active {
      background: #2b2409;
      color: #b9b089;
    }
    @media (hover: hover) {
      &:hover {
          background: #382f0c;
          color: #b9b089;
      }
  }
    @media (max-width: 71.25em) {
      font-size: 1.25rem;
  }
  }
}
