.our-bestsellers {
    background-color: #DCD4AE;
    position: relative;
    &__background-line {
        max-width: none;
        z-index: 0;
        position: absolute;
        bottom: 0;
        left: calc(50% - (1600px / 2.2));
    }

    &__container {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding-top: 85px;
        padding-bottom: 85px;
        @media (max-width: 61.25em) {
            padding-top: 75px;
            padding-bottom: 85px;
        }
    }

    &__title {
        margin-bottom: 1.09375em;
    }

    &__row {
        margin: 0 auto;
        display: flex;
        max-width: 75.5rem;
        gap: 60px;
        justify-content: space-between;
        @media (max-width: 61.25em) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__column {
        flex: 1 1 33.3333%;
        @media (max-width: 61.25em) {
            flex: 0 1 40%;
        }
    }

    &__link {
        margin-top: 2.5em;
        align-self: center;
    }
}