@import "../reset/reset";

@import "../fonts/fonts";

* {
    scroll-behavior: smooth;
}



html {
    font-family: "Montserrat Alternates", sans-serif;
}

body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    @media (max-width: 71.25em) {
        padding-left: 60px;
        padding-right: 60px;
    }
    @media (max-width: 61.25em) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @media (max-width: 46em) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.preloader {
    background-color: rgba(0, 0, 0, 0.11);
    background-image: url('../../img/preloader.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:30%;
}

.title {
    color: #33321E;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @media (max-width: 71.25em) {
        font-size: 3.5rem;
    }
    @media (max-width: 61.25em) {
        font-size: 3rem;
    }
    @media (max-width: 35em) {
        font-size: 2rem;
    }
}

.link {
    border-radius: 5px;
    background: #42380E;
    display: inline-block;
    color: #ADA580;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 150%; /* 2.625rem */
    padding: 0.8571em 1.28571em;
    box-shadow: 13px 10px 30px #B7B08F;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    &:active {
      background: #2b2409;
      color: #b9b089;
    }
    @media (hover: hover) {
      &:hover {
          background: #382f0c;
          color: #b9b089;
      }
  }
    @media (max-width: 71.25em) {
        font-size: 1.25rem;
    }
    @media (max-width: 25em) {
        font-size: 1rem;
    }
}

@import "./header";

@import "./menu-switcher";

@import "./phone";

@import "./navigation";

@import "./main";

@import "./our-bestsellers";

@import "./item-card";

@import "./about-us";

@import "./news";

@import "./contacts";

@import "./feedback-form";

@import "./footer";
