.layers {
    perspective: 1000px;
    overflow: hidden;
    &__container {
        height: 100vh;
        transform-style: preserve-3d;
        transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    }

    &__item {
        position: absolute;
        inset: -5vw;
        background-size: cover;
        background-position: center center;

    }
}