@import url("../reset/reset.css");
@import url("../fonts/fonts.css");
.logo {
  width: 15vh;
  display: none;
  position: absolute;
  z-index: 9999;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.layers {
  perspective: 1000px;
  overflow: hidden;
}
.layers__container {
  height: 100vh;
  transform-style: preserve-3d;
  transform: rotateX(var(--move-y)) rotateY(var(--move-x));
}
.layers__item {
  position: absolute;
  inset: -5vw;
  background-size: cover;
  background-position: center center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.main-content__heading {
  font-size: 16rem;
}
@media (max-width: 90em) {
  .main-content__heading {
    font-size: 13rem;
  }
}
@media (max-width: 64em) {
  .main-content__heading {
    font-size: 10rem;
  }
}
@media (max-width: 46em) {
  .main-content__heading {
    font-size: 5.5rem;
  }
}
@media (max-width: 26.5625em) {
  .main-content__heading {
    font-size: 4.25rem;
  }
}
.main-content__p {
  font-family: "merriweather-italic-3d";
  text-align: center;
  font-size: 1.5rem;
  max-width: 66.25rem;
  padding: 0 0.5em;
  line-height: 150%;
}
@media (max-width: 90em) {
  .main-content__p {
    max-width: 60.25rem;
  }
}
@media (max-width: 26.5625em) {
  .main-content__p {
    font-size: 1.25rem;
  }
}
.main-content__button {
  font-family: Arial;
  font-size: 1.75rem;
  font-weight: 600;
  padding: 0.7142em 1.0714em;
  border-radius: 10em;
  border: #fff 3px solid;
  outline: none;
  cursor: pointer;
}
@media (max-width: 26.5625em) {
  .main-content__button {
    font-size: 1.5rem;
  }
}

body {
  background-color: #000;
  color: #FFFFFF;
  font-family: "kamerik-3d";
  overflow: hidden;
}

.layer-1 {
  transform: translateZ(-55px) scale(1.16);
}

.layer-2 {
  transform: translateZ(80px) scale(0.88);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layer-3 {
  transform: translateZ(180px) scale(0.92);
  pointer-events: none;
}

.layer-4 {
  transform: translateZ(190px) scale(0.88);
  pointer-events: none;
}

.layer-5 {
  transform: translateZ(300px) scale(0.88);
  pointer-events: none;
}

.layer-6 {
  transform: translateZ(380px);
  pointer-events: none;
}