.main {
    margin: 60px 0;
    &__container {
        position: relative;
        display: flex;
        gap: 30px;
        @media (max-width: 1439px) {
            flex-direction: column;
        }
    }

    &__content {
        flex: 1 3 847px;
    }

    &__sidebar {
        flex: 0 2 413px;
        @media (max-width: 1439px) {
            flex: 0 0 auto;
        }
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__heading {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
    }

    &__add-info {
        display: flex;
        column-gap: 50px;
        row-gap: 15px;
        flex-wrap: wrap;
    }

    &__add-info-item {
        display: flex;
        gap: 10px;
    }

    &__body {
    }

    &__text {
    }

    &__slider {
        position: relative;

        max-width: 847px;
        height: 477px;
        background: #C1E6FA;
        box-shadow: 4px 4px 15px 0px rgba(69, 140, 162, 0.40);
        width: 100%;
        @media (max-width: 767px) {
            height: 320px;
        }
    }
}

.swiper-btn {
    position: absolute;
    z-index: 120;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 767px) {
        width: 30px;
    }
}

.button-next {
    right: 15px;
}

.button-prev {
    left: 15px;
    transform: translateY(-50%) rotate(-180deg);
}

.add-info-item {

    &__cat {
        color: #1D434E;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        @media (max-width: 767px) {
            font-size: 18px;
        }
    }

    &__inf {
        color: #458CA2;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        @media (max-width: 767px) {
            font-size: 18px;
        }
    }
}

.swiper-wrapper {
    overflow: hidden;
}
.swiper-slide {
}
.swiper-button-prev {
}
.swiper-button-next {
}

.sidebar {

    align-self: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 413px;
    width: 100%;
    gap: 10px;
    @media (max-width: 1439px) {
        max-width: 80%;
        align-self: center;
    }
    &--fixed {
        position: fixed;
        top: 50px;
        z-index: 99;
    }
    &__title {
        display: inline-flex;
        padding: 15px 25px;
        background-color: #C1E6FA;
        box-shadow: 4px 4px 15px rgba(69, 140, 162, 0.40);
        color: #1D434E;

        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 15px 25px;
        background-color: #C1E6FA;
        gap: 45px;
        box-shadow: 4px 4px 15px #458ca266;
        @media (max-width: 1439px) {
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__item {
        transition: all 0.2s ease-in-out;
        position: relative;
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: flex-start;
        &:hover {
            background-color: #1D434E;
            & h3 {
                color: #C1E6FA
            };
        }
    }

    &__image {
        background-color: #5AB4CF;
        width: 70px;
        height: 70px;
        flex-shrink: 0;
    }

    &__item-title {
        color: #1D434E;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}
