.main {
    margin: 60px 0;
    &__container {
        
        display: flex;
        gap: 30px;
        
    }

    &__content {
        flex: 1 3 847px;
    }

    &__sidebar {
        flex: 0 2 413px;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__heading {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
    }

    &__add-info {
        display: flex;
        column-gap: 50px;
        row-gap: 15px;
        flex-wrap: wrap;
    }

    &__add-info-item {
        display: flex;
        gap: 10px;
    }

    &__body {
    }

    &__text {
    }

    &__slider {
        position: relative;
        overflow: hidden;
        width: 847px;
        height: 477px;
        background: #C1E6FA;
        box-shadow: 4px 4px 15px 0px rgba(69, 140, 162, 0.40);
    }
}

.swiper-btn {
    position: absolute;
    z-index: 120;
    top: 50%;
    transform: translateY(-50%);
}

.button-next {
    right: 15px;
}

.button-prev {
    left: 15px;
    transform: translateY(-50%) rotate(-180deg);
}

.add-info-item {

    &__cat {
        color: #1D434E;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__inf {
        color: #458CA2;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button-prev {
}
.swiper-button-next {
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &--fixed {
        position: fixed;
        top: 50px;
        z-index: 99;
    }
    &__title {
        display: inline-flex;
        padding: 15px 25px;
        background-color: #C1E6FA;
        box-shadow: 4px 4px 15px rgba(69, 140, 162, 0.40);
        color: #1D434E;

        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 15px 25px;
        background-color: #C1E6FA;
        gap: 45px;
        box-shadow: 4px 4px 15px rgba(69, 140, 162, 0.40);
    }

    &__item {
        position: relative;
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: flex-start;

    }

    &__image {
        background-color: #5AB4CF;
        width: 70px;
        height: 70px;
        flex-shrink: 0;
    }

    &__item-title {
        color: #1D434E;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}
