.main {
  margin: 60px 0;
}
.main__container {
  position: relative;
  display: flex;
  gap: 30px;
}
.main__content {
  flex: 1 3 847px;
}
.main__sidebar {
  flex: 0 2 413px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-content__heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-content__add-info {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 15px;
  flex-wrap: wrap;
}
.main-content__add-info-item {
  display: flex;
  gap: 10px;
}
.main-content__slider {
  position: relative;
  overflow: hidden;
  width: 847px;
  height: 477px;
  background: #C1E6FA;
  box-shadow: 4px 4px 15px 0px rgba(69, 140, 162, 0.4);
}

.swiper-btn {
  position: absolute;
  z-index: 120;
  top: 50%;
  transform: translateY(-50%);
}

.button-next {
  right: 15px;
}

.button-prev {
  left: 15px;
  transform: translateY(-50%) rotate(-180deg);
}

.add-info-item__cat {
  color: #1D434E;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.add-info-item__inf {
  color: #458CA2;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sidebar {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar--fixed {
  position: fixed;
  top: 50px;
  z-index: 99;
}
.sidebar__title {
  display: inline-flex;
  padding: 15px 25px;
  background-color: #C1E6FA;
  box-shadow: 4px 4px 15px rgba(69, 140, 162, 0.4);
  color: #1D434E;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sidebar__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 15px 25px;
  background-color: #C1E6FA;
  gap: 45px;
  box-shadow: 4px 4px 15px rgba(69, 140, 162, 0.4);
}
.sidebar__item {
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}
.sidebar__image {
  background-color: #5AB4CF;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}
.sidebar__item-title {
  color: #1D434E;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}