.main {
    overflow: hidden;
}
.heading-block {
    margin-top: 60px;
}

.contact-info {
        &__container {
            display: flex;
            flex-direction: column;
            gap: 45px;
            align-items: center;
        }
		&__text {
            margin-top: 60px;
            max-width: 80%;
            width: 100%;
            @media (max-width: 424px) {
                margin-top: 35px;
                max-width: 90%;
            }
		}

		&__information {
            display: flex;
            flex-direction: column;
            gap: 50px;
            padding-bottom: 60px;
            @media (max-width: 424px) {
                gap: 35px;
            }
		}

		&__subtitle {
            text-align: center;
		}

		&__list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
		}

		&__item {
            text-align: center;
            color:  #1D434E;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            @media (max-width: 767px) {
                font-size: 20px;
            }
            @media (max-width: 424px) {
                font-size: 18px;
            }
		}
}

.dedicated-color {
    color: #458CA2;
}
