.footer {
    overflow: hidden;
    background-color: #1D434E;
    padding: 60px 0;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-direction: column;
            gap: 30px;
        }
    }

    &__navigation {
        & > .navigation__list {
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
            @media (max-width: 767px) {
                align-items: center;
            }
        }
        & a {
            color: #E2F4FC;
        }
    }

    &__name {
        color: #E2F4FC;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.48px;
        @media (max-width: 1023px) {
            font-size: 20px;
        }
    }
}
.soc-media {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__item {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__image {
        width: 40px;
    }

    &__name {
        color: #E2F4FC;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        @media (max-width: 1023px) {
            font-size: 20px;
        }
    }
}
