@media (max-width: 1363px) {
    .container {
        max-width: 768px;
        padding: 0;
    }
    .upper-header,
    footer {
        .container {
            .nav-bar {
                gap: 27px;
            }
        }
    }
    header {
        padding: 40px 0 57px;
        gap: 40px;
        .header-main-content {
            .container {
                .bg-coin {
                    display: none;
                }
                .bg-money {
                    top: unset;
                    bottom: 0;
                    left: unset;
                    right: 150px;
                }
                .bg-robot {
                    bottom: 450px;
                    left: 70px;
                }
                align-items: center;
                flex-direction: column-reverse;
                gap: 50px;
                .header-content {
                    align-items: center;
                    gap: 38px;
                    .header-text {
                        .main-text,
                        .add-text {
                            text-align: center;
                        }
                    }
                }
                .header-img {
                    top: 0;
                    width: 479.158px;
                    height: 411.203px;
                }
            }
        }
    }

    main {
        .my-earnings {
            padding: 88px 80px 0;
            .container {
                .earnings-steps {
                    flex-direction: column;
                    align-items: center;
                    gap: 70px;
                    .step {
                        align-items: center;
                        h3 {
                            text-align: center;
                        }
                        p {
                            text-align: center;
                        }
                        &:nth-of-type(1)::after {
                            transform: rotate(0deg);
                            top: 250px;
                            left: -80px;
                        }
                        &:nth-of-type(2)::after {
                            transform: rotate(180deg);
                            top: 200px;
                            left: 250px;
                        }
                    }
                }

                .earnings-card {
                    width: 768px;
                    .earnings-card-stats {
                        gap: unset;
                        justify-content: space-between;
                        padding: 0 20px 54px;
                        .earnings-card-stat {
                            width: 314px;
                            h3 {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        .about-me {
            .container {
                padding: 178px 0px 112px;
                .about-me-content {
                    flex-direction: column-reverse;
                    gap: 80px;
                }
            }
        }

        .result {
            .container {
                padding: 85px 80px 554px;
                .result-cards {
                    flex-direction: column;

                }
            }
        }
        .another-stat {
            .container {
                padding: 307px 00px 70px;
            }
        }
        .educ-cost {
            .container {
                padding: 60px 0px 52px;
                flex-direction: column-reverse;
            }
            .coin-down {
                display: none;
            }
        }

        .cases {
            .cases-cards {
                flex-direction: column;
                align-items: center;
            }
        }

        .reviews {
            .container {
                padding: 15px 00px 95px;
                p {
                   margin-top: 0;
                   text-align: justify; 
                   &:nth-child(3) {
                    margin-top: 30px;
                    text-align: center;
                   }
                }
                .reviews-cards {
                    .review-card {
                        align-items: center;
                    }
                }
            }
        }
        .contacts {
            .bg-dots-1,
            .bg-dots-2 {
                display: none;
            }
            .container {
                padding: 135px 0px 94px;
                flex-direction: column;
                gap: 110px;
            }
        }
        .own-team {
            .container {
                padding: 75px 80px 94px;
            }
        };
    }
    footer {
        .container {
            padding: 75px 00px 66px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 360px;
    }
    .upper-header,
    footer {
        .container {
            justify-content: center;
            .nav-bar {
                display: none;
            }
        }
    }
    .push-up {
        width: 250px;
        .new-member {
            background-color: rgba(0, 0, 0, 0.808);
            p {
                font-size: 12px;
            }
        }
    }
    .form-submit {
        p {
            font-size: 24px;
        }
    }
    header {
        .header-main-content {
            .container {
                .bg-money {
                    display: none;
                }
                .bg-robot {
                    display: none;
                }
                .header-content {
                    gap: 27px;
                    .header-mes {
                        align-self: center;
                        left: 10px;
                    }
                    h1 {
                        font-size: 51px;
                    }
                    .header-text {
                        align-items: center;
                        .main-text {
                            font-size: 24px;
                        }
                        .add-text {
                            font-size: 16px;
                            max-width: 360px;
                        }
                    }
                }
                .header-img {
                    width: 360px;
                    height: 308.944px;
                }
            }
        }
    }
    main {
        .my-earnings {
            padding: 50px 0px 0;
            .container {
                h2 {
                    font-size: 36px;
                    text-align: center;
                    gap: 30px;
                }
                .earnings-steps {
                    gap: 20px;
                    .step {
                        &:nth-of-type(1)::after {
                            left: -30px;
                        }
                        &:nth-of-type(2)::after {
                            left: 220px;
                        }
                    }
                }
                .earnings-card {
                    width: 360px;
                    .earnings-card-stats {
                        flex-direction: column;
                        gap: 130px;
                    }
                    .earnings-card-devize {
                        flex-direction: column-reverse;
                        padding: 38px 20px 52px 20px;
                    }
                }
            }

        }
        .about-me {
            .container {
                padding: 178px 10px 112px;
                gap: 0px;
                .about-me-content {
                    gap: 0px;
                    .my-photo {
                        &::after {
                            top: 30px;
                        }
                        &::before {
                            bottom: 30px;
                        }
                        img {
                            width: 340px;
                            object-fit: contain;
                        }
                    }
                    .about-me-information {
                        .about-me-text {
                            h2 {
                                font-size: 36px;
                            }
                        }
                    }
                }
                .about-me-fact {
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    p{
                        text-align: center;
                    }
                }
            }
        }
        .result {
            .container {
                padding: 50px 20px 744px;
                gap: 30px;
                h2 {
                    font-size: 36px;
                }
                .result-cards {
                    row-gap: 10px;
                    .result-card {
                        height: unset;
                        min-height: 186px;
                        width: 320px;
                    }
                }
                .result-big-card {
                    .result-big-card-header {
                        p {
                            font-size: 16px;
                        }
                    }
                    .result-big-card-content {
                        h3 {
                            font-size: 32px;
                        }
                    }
                    &::after {
                        display: none;
                    }
                }
            }
        }
        .educ-cost {
            .container {
                gap: 50px;
                .educ-cost-content {
                    gap: 30px;
                    .educ-cost-info {
                        h2 {
                            font-size: 36px;
                            text-align: center;
                        }
                        h3 {
                            font-size: 36px;
                            text-align: center;
                        }
                        p {
                            text-align: center;
                        }
                    }
                    .educ-cost-btn {
                        align-self: center;
                    }
                }
            }
        }
        .cases {
            .container {
                padding: 70px 0px 70px;
                .cases-text {
                    h2 {
                        font-size: 36px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
        .reviews {
            .container {

                .bg-alien {
                    display: none;
                }
                h2 {
                    font-size: 36px;
                }
                .reviews-cards {
                    margin-top: 50px;
                }
                .review-card {
                    flex-direction: column;
                    padding: 30px 25px;
                }
            }
        }
        .contacts {
            .container {
                .contacts-info {
                    padding: 0 10px;
                    h2 {
                        font-size: 36px;
                    }
                }
                .contacts-form {
                    form {
                        input {
                            width: 288px;
                            padding: 20px 20px;
                        }
                        button {
                            padding: 25px 20px;
                        }
                    }
                }
            }
        }
        .own-team {
            .container {
                padding: 75px 20px 94px;
                .own-team-content {
                    max-width: 360px;
                    h2 {
                        font-size: 36px;
                    }
                    p,
                    span {
                        font-size: 16px;
                    }
                }
                .own-team-card {
                    padding: 38px 20px 38px;
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    gap: 30px;
                    img {
                        position: static;
                    }
                }
            }
        }
        .last-section {
            .container {
                padding: 80px 20px 80px;
                .bg-caution {
                    width: 100px;
                }
                h2 {
                    font-size: 36px;
                }
                p {
                    font-size: 16px;
                    margin-top: 30px;
                }
            }
        }
    }
}