.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    &__content {
        transition: transform .75s cubic-bezier(.075, .5, 0, 1);

        z-index: 1;
        transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -1.75rem;
        text-shadow: 0 0 15px #9e7d35;
    }

    &__title {
        
        color: #e7e6d3;
    }

    &__subtitle {
        color: #e7e6d3;

    }

    &__base {
        transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
        z-index: 0;
    }

    &__middle {
        transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
        z-index: 2;
    }

    &__front {
        transform: translate3d(0, calc(var(--scrollTop) / 6), 0);
        z-index: 3;

    }
}

.layer {
    transition: transform .75s cubic-bezier(.075, .5, 0, 1);
    pointer-events: none;
    will-change: transform;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}