html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

*[data-aos]{
    overflow-x: hidden;
}

.container{
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

/* Header */

header{
    min-width: 375px;
    padding-top: 46px;
    background-color: #F1F1F1;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.nav-bar img{
    width: 103px;
    height: 32px;
}

.navigation ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.navigation a{
    color: black;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.nav-btn{
    display: none;
    background: none;
    border: none;
}

.active{
    color: #606060 !important;
}

.header-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-top: 76px;
}
.header-info img{
    width: 494px;
}

.header-text{
    max-width: 500px;
    margin-top: 124px;
}

.header-text h1{
    font-weight: 600;
    font-size: 44px;
    line-height: 66px;

    color: #000000;
}

.header-text p{
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    margin-top: 20px;
    /* or 28px */


    color: #000000;
}

/*Services*/

.services{
    padding: 90px 0;
}

.service-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1 1 0;
    column-gap: 30px;
    row-gap: 60px;
}

.service-card{
    max-width: 370px;
}

.service-card img{
    width: 68px;
    height: 68px;
}

.service-card h2{
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-transform: uppercase;

    color: #000000;
}

.service-card p{
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    /* or 28px */
}

/*Portfolio*/

main{
    padding: 90px 0;
    background-color: #F1F1F1;
}

.portfolio-title{
    padding-bottom: 70px;
}

.portfolio-title h2{
    font-weight: 600;
    font-size: 34px;
    line-height: 51px;
    text-align: center;

    /* Black */

    color: #070707;
}

.portfolio-column{
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.portfolio-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-card img{
    width: 930px;
}

.portfolio-card a{
    margin-top: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;
    text-decoration-line: underline;

    /* Black */

    color: #070707;
}

/*Contacts*/

.footer{
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.call-back{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.call-back h2{
    font-weight: 600;
    font-size: 34px;
    line-height: 51px;
    /* identical to box height */

    text-align: center;

    /* Black */

    color: #070707;
}

.call-back p{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    /* Black */

    color: #070707;
}

.call-back button{
    border: none;
    background-color: #070707;
    border-radius: 50px;
    width: 180.5px;
    height: 42px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
    transition: background-color 0.2s ease-in, top 0.2s ease-in;
}

.call-back button:hover{
    background-color: #323232;
}
.call-back button:focus{
    background-color: #323232;
}
.call-back button:active{
    position: relative;
    top: 1px;
    background-color: #000000;
}

.social-media{
    margin: 80px 0 41px;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.footer:last-child{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #828282;
}