.blocks {
    max-width: 91.375rem;
    width: 100%;
    &__desrc-block {
        display: flex;
        align-items: center;
    }
}
.descr-block {

    &__content {
    }

    &__subtitle {
    }

    &__title {
    }

    &__text {
    }

    &__button {
    }

    &__image {
    }
}