.navigation {
    
    &__list {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    }

    &__item {
    }

    &__link {
        color: #FFF;
        font-family: Gilroy;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}