* {
    font-family: 'Avenir Next Cyr';
}
h1,
h2 {
    font-weight: 750;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Demi.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Bold.ttf');
    font-weight: 750;
}